/* styles/antdStyles.css
.ant-select-selector,
.ant-picker {
  background-color: #1f1f1f !important;
  border-color: #434343 !important;
  color: #f0f0f0 !important;
}

.ant-select-dropdown,
.ant-picker-dropdown {
  background-color: #141414 !important;
  color: #f0f0f0 !important;
}

.ant-select-item-option,
.ant-picker-cell {
  color: #e0e0e0;
}

.ant-select-item-option-selected,
.ant-picker-cell-selected {
  background-color: #1677ff !important;
  color: white !important;
} */
